<%%@ taglib uri="http://www.opensymphony.com/sitemesh/decorator" prefix="decorator" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:ng="http://angularjs.org" ng-app="AppModule">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><decorator:title default="Vraptor Scaffold"/></title>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <decorator:head/>
  </head>
  <body>

    <br />
    <br />
    <div class="container">
      <decorator:body />
    </div>

    <script type="text/javascript" src="/javascripts/application.js"></script>
  </body>
</html>
